/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  line-height: var(--line-height-body);
  color: var(--color-text-primary);
  background-color: var(--color-background-muted);
}

/* ===== Headings ===== */
h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-md);
  line-height: var(--line-height-heading);
  color: var(--color-text-primary);
}

h1 {
  font-size: var(--font-size-2xl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-lg);
}

/* ===== Text ===== */
p {
  font-size: var(--font-size-base);
  line-height: var(--line-height-body);
  color: var(--color-text-secondary);
}

.text-small {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
}

/* ===== Input ===== */
.inp {
  background-color: var(--color-background-input);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  padding: var(--spacing-sm) var(--spacing-md);
}
   
/* ===== button ===== */

.btn{
    width: 225px;
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--radius-full);
}